<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>

    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>    

    <!-- 3.选择器样式 -->
    <style>
      .pStyle {
        font-size: 20px;
      }
    </style>

  </head>
  <body>
    <!-- react渲染的模板插入的DOM节点容器 -->
    <div id="container"></div>
  </body>

  <!-- 在React开发中，使用JSX，跟JS不兼容，在使用JSX的地方要设置type为text/babel -->
  <!-- babel是一个转换编译器，ES6转成可以在浏览器中运行的代码 -->
  <!-- react渲染的内容会插入到指定的DOM节点中 -->
  <script type="text/babel">
    //react编写区域

    /*
      创建一个组件类，输出文本

      1.组件类遵守驼峰命名法
      2.使用React.createClass方法创建组件类
      3.核心代码：
      4.组件类只能包含一个顶层标签
    */
    // var LabelComponent = React.createClass({
    //   render: function() {
    //     return <h1>hello react!!!</h1>;
    //   }
    // });
    //
    // ReactDOM.render(
    //   <LabelComponent/>,
    //   // <h1>123</h1>,
    //   // React.createElement("h1", null, "hello react"),
    //   document.getElementById("container")
    // );

    /*
      设置组件的样式，
      1.内联样式
      2.对象样式
      3.选择器样式，属性名要使用className，而不是class，类似的还有htmlFor替代for

      注意：在React和html中设置样式的书写格式是有区别的
      1.html5以;结尾
        React以,结尾
      2.html5中key、value都不带引号
        React中属于JS对象，key的名字不能出现"-"，需要使用驼峰命名法，如果value为字符串，需要加引号
      3.html5中，value为数字，需要带单位
        React中不需要带单位
    */

    //2.对象样式
    var hStyle = {
      backgroundColor: "green",
      color: "red"
    }

    //注意！！:组件名要以大写字母开头，并使用驼峰命名法
    var ShowMessage = React.createClass({
      render: function() {
        return (
          //1.内联样式：第一对{}是JSX语法，第二对{}表示对象
          <div style={{backgroundColor:"yellow", borderWidth:5, borderColor:"black", borderStyle:"solid"}}>
            <h1 style={hStyle}>{this.props.firstRow}</h1>
            <p className="pStyle">{this.props.secondRow}</p>
          </div>
        );
      }
    });

    ReactDOM.render(
      <ShowMessage firstRow="hello" secondRow="lovey"/>,
      // <ShowMessage/>,
      document.getElementById("container")
    );
  </script>
</html>
